[Unit]
Description=YWD Hotspot DMRGateway
After=network-online.target
Wants=network-online.target
ConditionPathExists=/etc/ywd-hotspot/DMRGateway.ini
StartLimitIntervalSec=60
StartLimitBurst=10

[Service]
Type=simple
User=ywd-hotspot
Group=ywd-hotspot
ExecStart=/usr/local/bin/DMRGateway /etc/ywd-hotspot/DMRGateway.ini
Restart=on-failure
RestartSec=3
NoNewPrivileges=true
OOMScoreAdjust=-150

[Install]
WantedBy=multi-user.target
